@import "../../mixin/border-bottom.scss";

.header {
    // border-bottom: 1px solid rgba($color: #361349, $alpha: 1);
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6;
    background-color: #191a22;

    > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        text-transform: uppercase;
        overflow: hidden;
        background-color: #191a22;

        > li {
            > a {
                display: block;
                padding: 20px;
                text-decoration: none;
                color: #eee;
            }
        }
    }

    .logo {
        display: block;
        display: flex;
        justify-content: flex-start;
        font-size: 2em;
        padding: 10px 20px;
        text-decoration: none;
        position: absolute;

        left: 50%;
        top: 30px;
        transform: translate(-50%, -50%);

        cursor: pointer;
        @media (min-width: 768px) {
            left: 0;
            top: 30px;
            transform: translate(0%, -50%);
        }
    }

    .menu {
        clear: both;
        max-height: 0;
        transition: max-height 0.2s ease-out;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-content: center;
        align-items: center;
        > li,
        div {
            width: 100%;
            display: flex;
            justify-content: center;
            @include border-bottom(#4f2464, 10%, 90%);
            height: 60px;
            transition: all 0.2s ease-in-out;
            > img {
                width: 45px;
                height: 45px;
                border-radius: 50%;
                border: 1px solid #eee;
            }
            > a {
                border-bottom: 1px solid transparent;
                &:hover {
                    transition: all 0.2s ease-in-out;
                    @include border-bottom(#aa4cda, 1%, 99%);
                }
            }
        }
        div {
            position: absolute;
            top: 0;
            left: 0;
            transform: translate(-50%, -50%);
            z-index: 3;
            display: none;
        }
    }
}

/* menu */

/* menu icon */

.header .menuIcon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    justify-content: flex-end;
    width: 60px;
    float: right;
}

.header .menuIcon .navicon {
    background: #eee;
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
}

.header .menuIcon .navicon:before,
.header .menuIcon .navicon:after {
    background: #eee;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
}

.header .menuIcon .navicon:before {
    top: 5px;
}

.header .menuIcon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menuBtn {
    display: none;
}

.header .menuBtn:checked ~ .menu {
    max-height: 288px;
}

.header .menuBtn:checked ~ .menuIcon .navicon {
    background: transparent;
}

.header .menuBtn:checked ~ .menuIcon .navicon:before {
    transform: rotate(-45deg);
}

.header .menuBtn:checked ~ .menuIcon .navicon:after {
    transform: rotate(45deg);
}

.header .menuBtn:checked ~ .menuIcon:not(.steps) .navicon:before,
.header .menuBtn:checked ~ .menuIcon:not(.steps) .navicon:after {
    top: 0;
}
.menuProfile {
    position: absolute;
    top: 6px;
    left: 6px;
    cursor: pointer;
    > img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 1px solid #eee;
    }
}
//desktop
@media (min-width: 768px) {
    .menuProfile {
        display: none;
    }
    .header li {
        display: flex;
        justify-content: flex-end;
    }
    .header {
        background-color: transparent;
        > ul {
            background-color: transparent;
        }
    }
    .logo {
        left: 0%;
        top: 30px;
        transform: translate(-50%, -50%);
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        max-height: none;
        display: flex;
        flex-direction: row;
        > li,
        div {
            width: auto;
            border-bottom: none;
            height: auto;
        }
        & > div {
            font-size: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            left: 10px;
            position: absolute;
            left: 95%;
            top: 30px;
            bottom: 10px;
            color: #eee;
            cursor: pointer;
        }
    }
    .header .menuIcon {
        display: none;
    }
}
