@import "./../../mixin/border-bottom.scss";

.card {
    border-radius: 1em;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: absolute;
    top: 54px;
    right: 60px;
    @media (max-width: 768px) {
        right: auto;
        top: 54px;
        left: 250px;
    }
}
.cardContent {
    background-color: #394765;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    height: 250px;
    width: 250px;
    border: 1px solid #eee;
    color: #eee;
    > div:first-child {
        display: flex;
        border-bottom: 1px solid #eee;
        > img,
        > svg {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            margin: 10px;
        }
        > svg {
            margin-left: 30px;
        }
        > div {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
    }
    > div:nth-child(2),
    > div:nth-child(3) {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        > ul {
            display: flex;
            flex-direction: column;
            > li {
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                cursor: pointer;
                &:active {
                    font-weight: bold;
                }
                > svg {
                    margin-right: 5px;
                }
            }
        }
    }
    > div:nth-child(3) {
        border-top: 1px solid #eee;
        svg {
            rotate: 270deg;
        }
        .AiOutlineLogin {
            rotate: 0deg;
        }
    }
}

@media (max-width: 768px) {
}
