/////container
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

/////container2
.container2 {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container2 {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container2 {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container2 {
        width: 1200px;
    }
}

@media (min-width: 1500px) {
    .container2 {
        width: 1500px;
    }
}

.container2-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.clearfix:after,
.container:after,
.container-fluid:after,
.container2:after,
.container2-fluid:after,
.row:after {
    clear: both;
}
