.filter {
    margin: 20px auto;
    width: 100%;
    > div {
        > div {
            display: flex;
            justify-content: center;
            > div {
                margin: 0 10px;
                > div {
                    display: flex;
                    > div {
                        height: 35px;
                        width: 35px;
                        border-top: 1px solid black;
                        border-bottom: 1px solid black;
                        border-left: 1px solid black;
                        position: relative;
                        > input {
                            cursor: pointer;
                            height: 35px;
                            width: 35px;
                            &:checked + label {
                                background-color: #40355c;
                            }
                            opacity: 0;
                        }
                        > label {
                            cursor: pointer;
                            height: 35px;
                            width: 35px;
                            z-index: 1;

                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            > span {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                z-index: 2;
                                font-family: Arial, Helvetica, sans-serif;
                                font-weight: bold;
                                font-size: 14px;
                            }
                            > img {
                                width: 25px;
                                height: 25px;
                                display: flex;
                                justify-content: center;
                                margin: auto;
                                align-items: center;
                                // center
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                            }
                        }
                    }
                    > div:last-child {
                        border-right: 1px solid black;
                    }
                }
            }
        }
    }
}

.filter-text {
    margin: 20px auto 10px auto;
    position: relative;
    width: 200px;
    > input,
    textarea {
        background-color: transparent;
        border: 1px solid #40355c;
        border-radius: 5px;
        height: 35px;
        font-size: 1em;
        color: white;
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: #40355c;
            padding-left: 5px;
        }
    }
    > button {
        position: absolute;
        top: 50%;
        left: 85%;
        transform: translate(-50%, -50%);
        background-color: transparent;
        border: none;
        //center text
        display: flex;
        justify-content: center;
        align-items: center;
        > svg {
            fill: #40355c;
        }
    }
}
