.pagination{
    margin-top: 30px;
}
.pagination-container {
    display: flex;
    list-style-type: none;
    border: 1px solid rgba($color: #eee, $alpha: .2);
    height: 40px;
    width: 320px;
    justify-content: center;
    padding: 0;
    margin: auto;

    .pagination-item {
        padding: 0 12px;
        height: 100%;
        text-align: center;
        color: #eee;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        letter-spacing: 0.01071em;
        line-height: 1.43;
        font-size: 16px;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-weight: bold;

        &.dots:hover {
            background-color: transparent;
            cursor: default;
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.5);
            cursor: pointer;
        }

        &.selected {
            background-color: #40355c;
            color: aliceblue;
        }

        .arrow {
            &::before {
                position: relative;
                /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
                content: "";
                /* By using an em scale, the arrows will size with the font */
                display: inline-block;
                width: 0.4em;
                height: 0.4em;
                border-right: 0.12em solid #eee;
                border-top: 0.12em solid #eee;
            }

            &.left {
                transform: rotate(-135deg) translate(-50%);
            }

            &.right {
                transform: rotate(45deg);
            }
        }

        &.disabled {
            pointer-events: none;

            .arrow::before {
                border-right: 0.12em solid #eee;
                border-top: 0.12em solid #eee;
            }

            &:hover {
                background-color: transparent;
                cursor: default;
            }
        }
    }
}
