.profile_details {
    margin-top: 59px;
    height: calc(100vh - 59px);
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    justify-items: center;
    align-items: center;
    &::before {
        content: "";
        background: #4f2464;
        border-radius: 50%;
        filter: blur(150px);
        top: 50%;
        left: 52%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 500px;
        position: absolute;
        z-index: -1;
    }

    > div:nth-child(1) {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        // center
        height: 80%;
        width: 80%;
        background-color: #eee;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgb(29, 32, 32);
        // selectors
        > input {
            display: none;
        }
        > label {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            font-size: 1.2em;
            width: 100%;
            color: #eee;
            background-color: rgb(29, 32, 32);
            cursor: pointer;
            transition: all 0.1s ease-in-out;
            &:hover {
                scale: 1.05;
                border: 1px solid rgb(119, 119, 119);
            }
        }
        // set background color if checked
        > input:checked + label {
            background-color: rgb(100, 100, 100);
        }
    }
    > div:nth-child(2) {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
            rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        height: 80%;
        width: 90%;
    }
}
