.heros_section {
    > div:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #eee;

        > h1 {
            font-size: clamp(1rem, 5vw, 3rem);
            margin: 0;
        }
    }
}
.heros {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    grid-auto-rows: minmax(100px, auto);
    &::before {
        content: "";
        background: #4f2464;
        border-radius: 50%;
        filter: blur(150px);
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        height: 300px;
        position: absolute;
        z-index: -1;
    }
    > div {
        display: flex;
        align-items: center;
        justify-content: center;
        color: antiquewhite;
        position: relative;
        border-radius: 20px;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
        border: 1px solid rgba($color: #eee, $alpha: 0.2);
        transition: all 0.03s ease-in-out;
        &:active {
            // iner box-shadow
            box-shadow: inset 0 0 0 1000px rgba(180, 187, 254, 0.2);
        }
        &:hover {
            background-color: rgba(0, 0, 0, 0.6);
        }
        > div {
            height: 102px;
            > picture {
                > div {
                    height: 100%;
                    overflow: hidden;
                    > img {
                        width: 70%;
                        object-fit: cover;
                        margin-left: 40%;
                        margin-bottom: 30%;
                        // image size
                        scale: 1.4;
                    }
                }
                // .hero_img {
                //     height: 100%;
                //     width: 100%;
                // }
            }
        }
    }

    h2 {
        display: flex;
        font-size: 1.2rem;
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        text-shadow: rgb(0, 0, 0) 1px 0px 0px,
            rgb(0, 0, 0) 1.517px 0.958851px 0px,
            rgb(0, 0, 0) 1.0806px 1.68294px 0px,
            rgb(0, 0, 0) 0.141474px 1.99499px 0px,
            rgb(0, 0, 0) -0.832294px 1.81859px 0px,
            rgb(0, 0, 0) -1.60229px 1.19694px 0px,
            rgb(0, 0, 0) -1.97998px 0.28224px 0px,
            rgb(0, 0, 0) -1.87291px -0.701566px 0px,
            rgb(0, 0, 0) -1.30729px -1.5136px 0px,
            rgb(0, 0, 0) -0.421592px -1.95506px 0px,
            rgb(0, 0, 0) 0.567324px -1.91785px 0px,
            rgb(0, 0, 0) 1.41734px -1.41108px 0px,
            rgb(0, 0, 0) 1.92034px -0.558831px 0px;
    }
    .hero_rol {
        z-index: 4;
        position: absolute;
        top: 0;
        left: 0;
        > div {
            display: flex;
            align-items: center;
            padding-left: 5px;
            > picture {
                > img {
                    padding: 5px;
                    width: 30px;
                }
            }
        }
    }
}
.star {
    padding: 0px 5px;
    display: flex;
    justify-content: center;
    > div > img {
        width: 20px;
        display: flex;
    }
}
.hero_attribute {
    display: flex;
    > img {
        padding: 0px 5px;
    }
}
